/*
Colors:

Text: 1A1A1A  (26,26,26).
Green: #00B172
White: #FFF

*/

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html, body {
  overflow-x: hidden; /* Previene scroll horizontal */
  max-width: 100%;    /* Nunca exceder el ancho de pantalla */
}


/* Hacer todas las imágenes responsivas */
img {
  max-width: 100%;
  height: auto;
}
/* Hacer todas las imágenes responsivas */




.logo {
  width: 100px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  height: 30px;
  background-color: white; /* importante, para que no se vea transparente al hacer scroll */
  z-index: 1000; /* para que quede por encima del contenido */

}
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.hero {
  height: calc(100vh - 70px);
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 75px;
}

.subtitle {
  color: rgb(202, 202, 202);
  font-size: 25px;
}

.section-1 {
  height: 50vh;
  margin-bottom: 20px;
}

.s1-title {
  flex-direction: column;
  margin-bottom: 50px;
  font-size: 30px;
}

.separator-bar {
  width: 100%;
  height: 4px;
  border-radius: 10%;
  background-color: #00b172;
}

.s-green {
  background-color: #00b172;
}

.s-white {
  background-color: white;
}

.s1-container {
  text-align: center;
  gap: 50px;
  flex-wrap: wrap;
  flex-shrink: 1;
}
.s1-container div {
  width: 25%;
}

.s1-container div h3 {
  color: #00b172;
  font-size: 20px;
  margin: 5px;
}

.s1-container div p {
  color: rgb(26, 26, 26);
}

.s1-img {
  /* width: 125px; */
  height: 100px;
  display: block;
  margin: 0 auto;
}

.section-2 {
  margin: 0px 50px 0px 50px;
  background-color: #00b172;
  height: 110vh;
  color: white;
  
}
.s2-title {
  flex-direction: column;
  display: inline-block;
  font-size: 30px;
  margin: 80px 80px 30px 80px;
}



.white-logo img {
  width: 150px;
}

.kanye img {
  height: 75vh;
}

.text div p,
.text div h3 {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 80px;
}

.text div h3 {

  font-size: 35px;

}

.text div p {

font-size: 25px;
  
}

.open-menu-mobile {
  display: none;


}

.menu-mobile-btn {

  background-color: rgb(220, 220, 220);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-mobile-btn:hover {

  background-color: rgb(240, 240, 240);
}
.menu-mobile {
  border-top: #00b172 solid 2px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
 
}

.menu-mobile li {
  border-bottom: #00b172 2px solid;
  height: 5vh;
  display: flex;
  align-items: center;
}

.menu-mobile li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
 margin-left: 10px;
 width: 100%;
}

.btn-icon {
  width: 25px;
  height: 25px;
}

@media (max-width: 768px) {
  /* fix */

.title {
  color: white;
  font-size: 55px;
}

.subtitle {
  color: rgb(202, 202, 202);
  font-size: 20px;
  margin: 10px;
}

.nav-links li a {
  display: none;
}


.open-menu-mobile {
  display: block;
}











  .s1-container, .s2-container {
    flex-direction: column;
    align-items: center;
  }

  .section-1 {
    margin: 50px 0px 50px 0px;
  }
  .s1-container div {
    width: 80%; /* o 100% si quieres que ocupen toda la pantalla */
  }
  .section-1, .section-2 {
    height: fit-content;
  }
.section-2 {
  margin: 0px 10px 0px 10px;
}
  .white-logo img {
  width: 100px;
}

.text div p,
.text div h3 {
  /* text-align: left;
  margin-bottom: 20px; */
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.text div h3 {

  font-size: 30px;

}

.text div p {

font-size: 20px;
  
}

.kanye img {
  height: 70vh;

  margin: 0px !important;
}

}

@media (min-width: 769px) {
  .menu-mobile {
 
  display: none !important;
 
}
}